<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/shop-grid-4-column.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:16 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Furbar - Furniture eCommerce Bootstrap 5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <link rel="stylesheet" href="assets/css/style.min.css" />
    <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <style>
	.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 20.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	border: 0px solid #AFAFAF;
	background-color: #393939;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #03c74e;
	border-width: 0px;
	background-color: #03c74e;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #393939;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #03c74e;}




</style>
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                        <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li><a href="/loadShop">Shop</a></li>
                            <li>
                                <a href="#">Products</a>
                            </li>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-search"></i>
                            </a>

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Enter your search key ... " />
                                        <button>
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li><a href="/loadProfile">My Account</a></li>
                                <li><a href="login">Sign In</a></li>
                                <li><a href="register">Sign Up</a></li>
                                <li><a href="logout">Logout</a></li>
                            </ul>
                        </div>
                        <a class="action" href="/loadWishlist"><i class="pe-7s-like"></i></a>

                        <div >
                            <a class="action" href="/viewCart" role="button" >
                                <i class="pe-7s-cart"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                                <ul class="dropdown-menu dropdown-profile">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                </ul>
                            </div>
                            <a class="action" href="cart.html">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    
    <!-- Page Banner Section Start -->
    <div class="section mb-3 " style="background-image: url(assets/images/page-banner.jpg) ">
        <!-- page-banner-section       deleted class full image-->
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title"><br></h2>

                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Checkout</li>
                    
                </ul>

                <br>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>

    <!-- Shopping Cart Section Start -->
 
    <div class="col-lg-12 col-md-12 col-sm-12 col-12  ">
        
        <div class="page-content "> 
            <div class="container-fluid">
               
                
                <div class="row d-flex justify-content-center mt-3">
              
    
                            
                            

                    <div class="col-xl-7 mt-5">
                        <div class="card border shadow mb-3" style="border-radius: 0 !important;">

                            
                            <div class="card-body">
                                <article class="itemlist ">
                                    <div class="row align-items-center">
                                        
                                        
                                        <div class="col-lg-6 col-sm-4 col-8 flex-grow-5 col-name" style="width:auto;">
                                            <a class="itemside" href="#">

                                                    
                                                


                                                            <div class="left">
                                                                <img src="/images/<%= data.orderDetail.items[0].productId[data.index].imageurl[0] %>" class="img-sm img-thumbnail" style="width: 150px;" alt="Item" />
                                                                </div>
                                                                <div class="info">
                                                                <h6 class="mb-0"> <%= data.orderDetail.items[0].productId[data.index].title %></h6>
                                                                <h6 class="mb-0">$.<%=  data.orderDetail.items[0].productId[data.index].price%></h6>
                                                                <h6 class="mb-0">QTY:<%= data.orderDetail.items[0].quantity[data.index]%></h6>
                                                                <h6 class="mb-0">Total Rs.<%= data.orderDetail.items[0].productId[data.index].price * data.orderDetail.items[0].quantity[data.index]%></h6>
                                                            <!-- <h6 class="mb-0">neme</h6> -->
                                                            </div>

                                                 

                                            </a>
                                        </div>
                                        
                                        
        
                                        <div class="col-lg-3 col-sm-3 col-4 col-status">
                                            <h6 class="mb-0">Shipped on March 16,2024</h6>  
                                            <!-- <h6 class="mb-0">Your item has been <%=  %></h6>   -->
                                          

                                        </div>
                                        <div class="col-lg-2 col-sm-2 col-4 col-date">
                                             <span class="badge rounded-pill alert-success"><%=  %></span>
                                        </div>
                                                                       

                                    </div>
                                    <!-- row .// -->
                                </article>
                                <!-- itemlist  .// -->
                               
                                <!-- itemlist  .// -->
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-10">
                        <div class=" border shadow mb-3" style="border-radius: 0 !important;">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center py-3 align-items-center">
                               
                               <div class="col-md-8 d-flex justify-content-center mt-3 align-items-center">
                                
                                <!-- <div class="row  ">	 -->
                                    <div class=" col-md-2 order-tracking completed">
                                        <span class="is-complete"></span>
                                        <p>Ordered<br><span>Mon, June 24</span></p>
                                    </div>
                                    <div class=" col-md-2 order-tracking completed ">
                                        <span class="is-complete"></span>
                                        <p>Shipped<br><span>Tue, June 25</span></p>
                                    </div>
                                    <div class=" col-md-2 order-tracking completed">
                                        <span class="is-complete"></span>
                                        <p>Out for delivery<br><span>Fri, June 28</span></p>
                                    </div>
                                    <div class=" col-md-2 order-tracking">
                                    <span class="is-complete"></span>
                                    <p>Delivered<br><span>Fri, June 28</span></p>
                                </div>				  
                                     
                              <!-- </div> -->


                              <div>
                            <!-- Modal Trigger Link -->
                            <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#myModal" >Do you want to return?</a> -->
                            <a href="/cancel-order?id=<%= data.orderDetail._id %>" >Cancel Order</a>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Return Item</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <form action="/data" method="post">


                                        <div class="modal-body">
                                            <!-- Input Field for Reason -->
                                            <div class="mb-3">

                                                <label for="reason" class="form-label">Reason for Return</label>
                                                <input id="return" type="text" class="form-control" id="reason" name="reason" placeholder="Enter a valid reason">
                                 
                                                <input type="text" class="form-control" name="orderId" value="<%=  %>" hidden>
                                                <input type="text" class="form-control" name="productObjectId" id="productObjectId" hidden>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Return</button>
                                        </div>
                                    </form>

                                    </div>
                                </div>
                            </div>



  


                              </div>
                              
                               </div>
                               
                            </div>
                        </div>
                        
                        </div>
                    </div>


                    <!-- end card -->
                    
                    <div class="col-xl-10">
                        <div class=" border shadow mb-3" style="border-radius: 0 !important;">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center py-3 align-items-center">
                               
                               <div class="col-md-8 d-flex justify-content-center mt-3 align-items-center">
                                <div class="col-lg-3 col-sm-3 col-4 col-status">

                                        <div class="col-lg-12 col-sm-2 col-4 col-price">
                                            <h4 class="mb-5 ">Delivery Address</h4>
                                            
                                            <h6 class="mb-0"><%= data.orderDetail.address.address %></h6>     
                                            <h6 class="mb-0"><%= data.orderDetail.address.city %></h6> 
                                            <h6 class="mb-0"><%=data.orderDetail.address.country %></h6> 
                                            <h6 class="mb-0"><%= data.orderDetail.address.district %></h6> 
                                            <h6 class="mb-0"><%= data.orderDetail.address.pincode %></h6> 
    
                                        </div>


                                    </div>
                                    <div class="col-lg-3 col-sm-2 col-4 col-price">
                                        <h6>Invoice Number:78563 </h6>
                                        <h6>Invoice Date:17/02/2023 </h6>
                                        <!-- <a  class="btn btn-sm btn-hover-primary
                                        text-success rounded font-sm mt-15" >download Invoice</a> -->
                                    </div>
                                   <% if(data.paymentOption==='failed'){%> 

                                        <div class="col-lg-3 col-sm-2 col-4 col-price">
                                            <h6>Payment failed</h6>
                                            
                                            <a  class="btn btn-sm btn-hover-primary
                                            text-danger rounded font-sm mt-15" >Pay Now</a>
                                        </div>
                                        <%} %>
                                        <div class="col-lg-3 col-sm-2 col-4 col-price">
                                            <h3>Total Amount</h3>
                                        
                                                <h3 class="text-success text-end" >$<%= data.orderDetail.items[0].productId[data.index].price * data.orderDetail.items[0].quantity[data.index] %></h3>

                                        </div> 
                                </div>				  
                                     
                              <div>
                            <!-- Modal Trigger Link -->
                          
                            <!-- Modal -->
                            
    
    
    
    
    
    
                              </div>
                              
                               </div>
                               
                            </div>
                        </div>
                        
                        </div>
                    </div>                
                </div>
            </div>
        </div>
     </div>






    
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Start -->
    <div class="section footer-section">
        <!-- Footer Top Start -->
        
        <div class="footer-top">
            
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-md-4">
                        <!-- Footer Logo Start -->
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Footer Logo End -->
                    </div>
                    <div class="col-xl-5 col-md-8">
                        <!-- Footer Contact & Payment End -->
                        <div class="footer-contact-payment">
                            <div class="footer-contact">
                                <div class="contact-icon">
                                    <img src="assets/images/icon/icon-4.png" width="39" height="46" alt="Icon" />
                                </div>

                                <div class="contact-content">
                                    <h6 class="title">Call Us:</h6>
                                    <p>00 123 456 789</p>
                                </div>
                            </div>
                            <div class="footer-payment">
                                <img src="assets/images/payment.png" width="192" height="21" alt="Payment" />
                            </div>
                        </div>
                        <!-- Footer Contact & Payment End -->
                    </div>
                    <div class="col-xl-5">
                        <!-- Footer Subscribe End -->
                        <div class="footer-subscribe">
                            <span class="title">Subscribe Now :</span>
                            <div class="subscribe-form">
                                <form action="#">
                                    <input type="text" placeholder="Your Mail" />
                                    <button>
                                        <i class="pe-7s-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!-- Footer Subscribe End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Top End -->

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Customer Service</h4>

                            <ul class="footer-link">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns-Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Information</h4>

                            <ul class="footer-link">
                                <li><a href="about.html">About Furbar</a></li>
                                <li>
                                    <a href="shop-grid-4-column.html">How to Shop</a>
                                </li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">My Account</h4>

                            <ul class="footer-link">
                                <li><a href="register.html">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Our Stores</h4>

                            <ul class="footer-link">
                                <li><a href="#">New aYork</a></li>
                                <li><a href="#">London SF</a></li>
                                <li><a href="#">Cockfosters BP</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">Chicago</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">About Us</h4>

                            <div class="widget-about">
                                <p>
                                    Lorem ipsum dolor sit amet consect adipisicing
                                    elit sed do eiusmod temp incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim
                                </p>
                            </div>
                            <div class="widget-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!-- Footer Copyright End -->
        <div class="copyright">
            <div class="container">
                <div class="copyright-text">
                    <p>
                        &copy; 2023 <span> Furbar </span> Made with
                        <i class="fa fa-heart" aria-hidden="true"></i> by
                        <a href="#">codecarnival</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
    <!-- Footer Section End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- JS
    ============================================ -->




    <!-- Bootstrap JS -->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>




      <script>
    function setProductObjectId(productId) {
        document.getElementById('productObjectId').value = productId;
    }
    </script>

<script>
    function downloadInvoice(orderId) {
        axios.post('/downloadInvoice', { orderId }, { responseType: 'blob' })
            .then(response => {
                const url = URL.createObjectURL(new Blob([response.data]));
                const link = document.createElement('a');
                link.href = url;
                link.download = 'invoice.pdf';
                document.body.appendChild(link);
                link.click();
                URL.revokeObjectURL(url);
                document.body.removeChild(link);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    
    function payAgain(orderId) {
        axios.post('/payAgain', { orderId })
            .then(response => {
                const { order, KEY_ID, cartTotal } = response.data;
                console.log(KEY_ID);
                console.log(order.id);

               
                        console.log('else');
                        var options = {
                            "key": KEY_ID,
                            "amount": order.amount,
                            "currency": "INR",
                            "name": "prinDecor",
                            "description": "Test Transaction",
                            "image": "assets/images/favicon.png",
                            "order_id": order.id,
                            "handler": function (response) {
                            alert('Payment Success');

                                    console.log('ready', response.razorpay_signature);
                                    console.log(response.razorpay_payment_id);

                                    window.location.reload()
                            },
                            "prefill": {
                                "name": "Gaurav Kumar",
                                "email": "gaurav.kumar@example.com",
                                "contact": "9000090000"
                            },
                            "notes": {
                                "address": "Razorpay Corporate Office"
                            },
                            "theme": {
                                "color": "#3399cc"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.on('payment.failed', function(response){
                            // alert(response.error.code);
                            // alert(response.error.description);
                            // alert(response.error.source);
                            // alert(response.error.step);
                            // alert(response.error.reason);
                            // alert(response.error.metadata.order_id);
                            // alert(response.error.metadata.payment_id);
                            
                                
                                // axios.post('/paymentFailed')
                                // .then(function (response){
                                // console.log(response.data)
                                // })
                                // .catch(function (error){
                                //  console.error('Error:', error)
                                // });

                                // window.location = '/viewOrder'

                        });
                        
                        rzp1.open();
               
    })
     
            .catch(error => {
                console.error('Error:', error);
            });
    }


</script>



    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script>
    <script src="assets/js/plugins/odometer.min.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/furbar-1/furbar/empty-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:18 GMT -->
</html>